

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

h2 {
  font-family: "Roboto";
}

.title {
  text-align: center;
  margin-right: 15px;
  border-left: solid 2px;

}
mat-tab {
  background: rgb(10,10,110);
  background: linear-gradient(90deg, rgba(10,10,110,1) 0%, rgba(18,72,156,1) 12%, rgba(18,114,236,1) 31%, rgba(36,121,255,1) 61%);
  overflow: visible;
}
mat-grid-tile{
  position: absolute;
  border-radius: 20px;
  background-color: #113595;
 
  box-shadow: 2px 2px 2px 2px rgba(2, 29, 72, .9) ;
  
  
}
button {
  width: 100%;
  height: 100%;
  font-size: larger;
  
}
label.config-button {
  color: white;
   
}

.mat-icon {
   
  transform: scale(5);
  color: white;
}

mat-card-subtitle{
  background-color: transparent;
}
mat-card{
  width: 100%;
  height: 100%;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}
 
div.mdc-tab--active {
  background-color: transparent  !important;
  
  background-size: contain  !important;
  overflow: visible  !important;
  height: 50px;
  z-index: 2;  
  width: 200px;
  background-position:top;
  
}

div.mat-ripple.mat-mdc-tab-ripple {
    
    
    background-size: contain  !important;
    overflow: visible  !important;
    height: 50px;
   // width: 200px;
    z-index: 2;
    opacity: 0.3;
    background-position:top;
  
  }

  mat-tab-body {
    overflow: visible !important;
  }

  div.mat-mdc-tab-body-content {
    overflow: visible !important;
  }
  .mat-tab-label {
    min-width: 220px !important; // In addition to mat-strech-tabs allowing tabs to fill remaining space in parent container
    padding: 5px;
    height: 50px;
   // width: 200px;
     
  }
  #mat-tab-label-0-0 {
    width: 200px !important;
  }
.mat-mdc-tab-header {
    width:400px !important ;
    overflow: visible;
    font-size: larger;
  }
 
  mat-tab-header {
    width:800px !important ;
  }

  .mdc-tab__content {
    
   // width: 200px !important;
    padding-left: 2px !important;
    align-items: start !important;
  }
 /*   .mdc-tab {
    
   justify-content : left !important;
 
    padding-left: 2px !important;
  }  */
  .mdc-tab__text-label{
     
    font-size:large;
   // width: 200px !important;
  }