.example-tree-invisible {
  display: none;
}

.example-tree ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
 // border: 1px dotted rgb(11, 14, 235);
  border-width: 0 0 0px 2px; 
// border-color: white;
 
}
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  border: 2px dotted rgb(165, 213, 255);
  border-width: 0 0 0px 2px; 
// border-color: white;
 
}
.mat-icon-rtl-mirror {
  color: rgb(165, 213, 255);
  font-size: larger;
}



li.mat-tree-node {
  border-color:white;
 // position: relative;
 //border: 1px dotted rgb(156, 15, 15);
 //border-width: 0 0 1px 1px; 
}

ul.mat-tree-node {
  border-color:rgb(165, 213, 255);
 // position: relative;
 //border: 1px dotted rgb(156, 15, 15);
 border-width: 0 0 0px 2px; 
}
div.mat-tree-node {
  //top: 50px;
  border: 2px dotted rgb(165, 213, 255);
 border-width: 0px 0px 2px 0px; 
 position: relative;
 
}

div.mat-tree-node-value {
  //top: 50px;
  
  border: 1px dotted rgb(165, 213, 255);
 border-width: 0px 0px 2px 0px; 
 width:auto;
 position: relative;
 
}

.mat-button {
  padding: 3px;
}
button.NodeText {
  top: 28px;
  left:10px;
  background-color: transparent;
 position: absolute;
 width:auto;
 text-align: left;
}
div.NodeText {
  top: 28px;
  left:20px;
  background-color: transparent;
 position: absolute;
 width: auto;
 text-align: left;
}

button.NodeValue {
  top:20px;
  left:56px;
  background-color: rgb(12, 50, 144);
 //position: absolute;
 width: auto;
 text-align: left;
}
.mdc-button {
  align-items: left  !important;
  justify-content: left !important;
}