# --- Docker / Database ---
pgdata/
database/
data/
pgadmin/
**/pgadmin/
**pgadmin**
**/pgdata/
**/database/
**/data/

# --- Node ---
node_modules/
npm-debug.log

# --- Env ---
.env
.env.*

# --- Build ---
dist/
build/

# --- OS ---
.DS_Store
Thumbs.db
pgadmin/dev/sessions/**
