

.courses-panel {
    max-width: 460px;
    margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

h2 {
  font-family: "Roboto";
}

.title {
  text-align: center;
  margin-right: 15px;
  border-left: solid 2px;

}
mat-tab {
  background: rgb(10,10,110);
  background: linear-gradient(90deg, rgba(10,10,110,1) 0%, rgba(18,72,156,1) 12%, rgba(18,114,236,1) 31%, rgba(36,121,255,1) 61%);

}
mat-grid-tile{
  position: absolute;
  background-color: transparent; 
  overflow: visible;
  vertical-align: top; 
  color: white;
}

label {
  color: white;
}


 status-box  {
  width: 200px;
  height: auto;
  color: black;
  padding: 0px;
  margin: 0px;
}

table.score {
  padding-top: 40px;
}
table.score img {
  left: 0px;
  right: auto;
}
p {
  padding-top: 10px;
}

th {
  position: static;
  border-left: solid gray 1px;
}
td {
 border-left: solid gray 1px;
 
}

mat-grid-tile {
   
}

div.mat-grid-tile-content {
  left: 5px;
}

.mat-mdc-menu-panel {
  width: 400px !important;
}

