
body {
  margin: 0;
  background: rgb(10,10,110);
  background: linear-gradient(90deg, rgba(10,10,110,1) 0%, rgba(18,72,156,1) 12%, rgba(18,114,236,1) 31%, rgba(36,121,255,1) 61%);

}

.main {
  border-radius: 20px;
  background-color: #113595;
  margin:  15px;
  box-shadow: 5px 5px 10px 5px rgba(2, 29, 72, .9) ;
  height: 800px;
  width: 250px;
  //top: -10px;
  //position: relative;
}

mat-toolbar  {
background-color: transparent;
}
a.is-active {
  background-color: white ;
  border-radius: 5px;
  box-shadow: 1px -3px 5px #888888;
  }


.example-spacer {
flex: 1 1 auto;
}

a.is-active {
background-color: white ;
border-radius: 20px;
box-shadow: 1px -3px 5px #888888;
}
mat-toolbar a {
color: white;
}
mat-sidenav-container{
background-image: url('../../assets/img/bgscreen.png');
background-repeat: no-repeat;

background-size:cover;

}
mat-sidenav {

border-radius: 20px;
background-color: #113595;
margin:  15px;
box-shadow: 5px 5px 10px 5px rgba(2, 29, 72, .9) ;

}
#sidenav{

}
mat-divider{
border-color: aliceblue;
border-width: 5px;
}


.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24
}
.material-symbols {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24
}
mat-icon {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24
}

.example-label {
display: table-cell;
font-size: 14px;
margin-left: 8px;
min-width: 120px;
}

.example-button-row {
display: table-cell;
max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
margin: 8px 8px 8px 0;
}

mat-nav-list{
margin: 10px;
}
mat-list-item {

}
.example-flex-container {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.example-button-container {
display: flex;
justify-content: center;
width: 120px;
}





