
div.edit-course-form {
  min-width: 300px;
  background-color: #113595;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  color: black;
}

textarea {
    height: 100px;
    resize: vertical;
}

h2 {
  color: gold  !important;
}
mat-dialog-title{
  color: gold  !important;
}