

<div class="edit-course-form">

    <h2 mat-dialog-title>Enter OTP from e-mail and  new password from change</h2>
<br>
<h2 mat-dialog-title> User name :{{data.username}}</h2>
<h2 mat-dialog-title> see otp on e-mail: {{data.email}} </h2>
    <mat-dialog-content >

     

        <mat-form-field appearance="fill">
            <input matInput  
                   placeholder="OTP"
                   name="otp" maxlength="6" id="otp"  [(ngModel)]="data.otp" OnlyNumber="false"  >
                    
        </mat-form-field>
 
        <mat-form-field appearance="fill" >
            <input matInput id="password"
                   placeholder="New Password"
                   name="newPassword" [(ngModel)]="data.password" >
          

        </mat-form-field>

           

    </mat-dialog-content>

    <mat-dialog-actions align="end" >

        <button mat-raised-button color="waring" (click)="onNoClick()">Close</button>

        <button mat-raised-button color="primary" (click)="onSaveClick()">Update Password</button>

    </mat-dialog-actions>

</div>





