div.stepArea{
    position: relative;
    width: 100%;
    background-size:cover;
    vertical-align: top;
}

div.stepArea img{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -5;
}
div.stepArea p{
    position: absolute;
    text-align: center;
   // top: 10px;
}