 
    <mat-grid-list cols="4" rowHeight="100px" gutterSize="2px">
        <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        
        <ideas-process-step [Step]="0"  [Steps]="Step[0]"  [style.width.%]="100" [Parent]="Me">
         
        </ideas-process-step>

        </mat-grid-tile>
        <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        
        <ideas-process-step [Step]="1"  [Steps]="Step[1]" [style.width.%]="100" [Parent]="Me">
         
        </ideas-process-step>

        </mat-grid-tile>   
        
        <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        
        <ideas-process-step [Step]="2"  [Steps]="Step[2]" [style.width.%]="100" [Parent]="Me">
         
        </ideas-process-step>

        </mat-grid-tile>

        <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        
        <ideas-process-step  [Step]="3" [Steps]="Step[3]"  [style.width.%]="100" [Parent]="Me">
         
        </ideas-process-step>

        </mat-grid-tile>

      </mat-grid-list>

 