
<div class ="around" align="end"  >
  <!-- <button mat-raised-button color="primary" style="margin-right: 20px;"  *ngIf="IsAdmin"  (click)="OpenNewDetail()" ><mat-icon class="material-symbols-outlined"  >add_circle</mat-icon>New Item</button> -->
 <!--  <span>
    <mat-form-field  appearance="outline" style="text-align: right; width:40%; " >
      <mat-icon class="material-symbols-outlined" matSuffix >search</mat-icon>
      <input matInput (keyup)="applyFilter($event)"  [(ngModel)]="filterinput" placeholder="Search" #input_search  style="color: white;" >
      <mat-label matSuffix >Search (look in Fullname and Division)</mat-label>
    </mat-form-field>
  </span> -->

      <div style="height: 85vh; overflow-y: scroll;" >
      <table mat-table [dataSource]="dataSource"   #tabledetail  >
       
        <!-- ID Column -->
        <ng-container matColumnDef="running">
          <th mat-header-cell *matHeaderCellDef > #</th>
          <td mat-cell *matCellDef="let row" [style.border-bottom]="rowboderstyle" >
             <a  class="runnumber" (click)="OpenDetail(row)" >  {{row.running}} </a>
            </td>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="fullname">
          <th mat-header-cell *matHeaderCellDef> Item Name</th>
          <td mat-cell *matCellDef="let row" [style.border-bottom]="rowboderstyle" [style.border-bottom]="'0.5px solid gray'"> {{row.fullname}} </td>
        </ng-container>
        <ng-container matColumnDef="level">
          <th mat-header-cell *matHeaderCellDef style="min-width: 110px;">Used Points </th>
          <td mat-cell *matCellDef="let row" [style.border-bottom]="rowboderstyle"> {{row.division}} </td>
        </ng-container>
        <ng-container matColumnDef="totalideas">
          <th mat-header-cell *matHeaderCellDef  style="min-width: 110px;">Remain</th>
          <td mat-cell *matCellDef="let row" [style.border-bottom]="rowboderstyle"> {{row.totalideas}} </td>
        </ng-container>
    
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef > Actions </th>
          <td mat-cell *matCellDef="let row" [style.border-bottom]="rowboderstyle">     <button  mat-button (click)="OpenDetail(row)">
            <mat-icon style="color: white;">edit_square</mat-icon>
            
          </button></td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns" style=" border-color: white" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [style.border-bottom]="'0.5px solid gray'"></tr>
    
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow >
          <td class="mat-cell" colspan="4" >No data matching the filter </td>
        </tr>
      </table>
    </div>
      
      
     
    <!-- <mat-paginator [pageSizeOptions]="[ 20, 50,100]" aria-label="Select page of myhome ['my_ideas']" (page)="paginatorChange($event)"></mat-paginator> -->
  </div>
  