 
 .example-card {
    padding: 20px;
    position: absolute;
    //top: 40%;
    //left: 50%;
   // transform: translate(-50%, -50%);
    width: 300px;
    height: auto;
    .form-group {
        padding: 0;
    }
    .form-label {
        display: block;
        color: white;
        padding: 0 10px;
    }
    span.form-label {
        color: white;
    }
    .input-group {
        padding: 0;
        margin: 25px 0;
    }
    .form-control {
        background: transparent;
        color:white;
    }
    .input-group-addon {
        background: white;
        border: none;
        font-size: larger;
        color:white;
    }
    .btn {
        width: 100%;
    }
    .btn-link {
        margin: 10px 0;
        color: lighten(darkblue, 30%);
    }
    .avatar {
        margin: auto;
    }
  }
  
  .login-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  

  .mat-form-field 
  .mat-form-input {
    background: white;
    color: blue;
  }  

.login-card {
    padding: 5px;
     position: absolute;
  //  top: 40%;
  //  left: 50%;
  //  transform: translate(-50%, -50%);
    width: 300px;
    height: 95vh;
    border-radius: 20px;
    background-color: #113595;
      margin:  5px;
      box-shadow: 5px 5px 10px 5px rgba(2, 29, 72, .9) ;
  
      
    .form-group {
        padding: 0;
    }
    .form-label {
        display: block;
        color:white;
        padding: 0 5px;
    }
    span.form-label {
        color: white;
    }
    .input-group {
        padding: 0;
        margin:5px 0;
    }
    .form-control {
        background: transparent;
        color: darkblue;
    }
    .input-group-addon {
        background: white;
        border: none;
        font-size: larger;
        color: lighten(darkblue, 20%);
    }
    .btn {
        width: 100%;
    }
    .btn-link {
        margin: 5px 0;
        color: lighten(darkblue, 30%);
    }
    .avatar {
        margin: auto;
    }    
    
}
.card-container  {
    /*  not needed styles to reflect it */ 
    position: relative;
   
    color: rgb(240, 206, 14);
    width: 95%;
  
    /* needed styles below */
    // display: flex;
    //justify-content: space-between;
    text-align: center;
    input {
        color: white;
        background-color:transparent;
      
    };
    label {color: white; }

    left: -10px;
  }
.panel {
    width: 100vw;
    height: 100vh;
    background-image: url('../../../assets/img/bgscreen.png');
    background-repeat: no-repeat;
   
    background-size:cover;
}

.login-icon {
    position: relative;
    background:transparent;
    
    color: white;
    width: 98%;
  
    /* needed styles below */
    // display: flex;
    justify-content: space-between;
}

.card-footer {
    /*  not needed styles to reflect it */ 
    position: relative;
    background:transparent;
    
    color: rgba(9, 9, 160, 0.719);
    width: 100%;
  
    /* needed styles below */
    // display: flex;
    justify-content: space-between;
    text-align: center;
    
  }
  .main {  

    background-image: url("../../../assets/img/login-bg3.jpg");
    opacity: 50%;
    width: 100%;
    height: 95vh;
    min-height:90vh;
    background-size: cover;
    text-align: left;
    color: white;
    
  }
  div.bigtext{
    width: 70%;
    position: relative;
    top: 30%;
    left: 30%;
    
  }
  p.bigtext{
    font-size:xx-large;
    font-weight: bold;
  }

  .mdc-floating-label .mat-mdc-floating-label  .mdc-floating-label--float-above {
    color:  rgb(240, 206, 14);
  }
  mat-label {
    color:  rgb(240, 206, 14);
  }