name: CI - Backend

on:
  push:
    branches: [dev, uat, main]
    paths:
      - "backend/**"
      - ".github/workflows/backend.yml"

jobs:
  build-backend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set ENV tag
        id: vars
        run: |
          if [[ "${GITHUB_REF_NAME}" == "dev" ]]; then
            echo "TAG=dev" >> $GITHUB_OUTPUT
          elif [[ "${GITHUB_REF_NAME}" == "uat" ]]; then
            echo "TAG=uat" >> $GITHUB_OUTPUT
          else
            echo "TAG=prod" >> $GITHUB_OUTPUT
          fi

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Backend Image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/brainbox-backend:${{ steps.vars.outputs.TAG }}
            ghcr.io/${{ github.repository_owner }}/brainbox-backend:${{ github.sha }}
