name: Deploy Brainbox Dev

on:
  push:
    branches:
      - dev

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy with Docker Compose
        run: |
          cd /opt/apps/alonersoft/brainbox/brainbox-agc
          docker compose build
          docker compose up -d
